@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  place-items: normal;
}
